<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.fitchfamily.android.dejavu">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="org.fitchfamily.android.dejavu.BackendService"
            android:label="@string/app_name"
            android:permission="android.permission.ACCESS_COARSE_LOCATION">
            <intent-filter>
                <action android:name="org.microg.nlp.LOCATION_BACKEND" />
            </intent-filter>
            <meta-data
                android:name="org.microg.nlp.BACKEND_SUMMARY"
                android:value="@string/summary" />
        </service>

        <service android:name="org.fitchfamily.android.dejavu.GpsMonitor"
            android:permission="android.permission.ACCESS_FINE_LOCATION" >
        </service>
    </application>

</manifest>
